 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url('https://t3.ftcdn.net/jpg/05/66/77/22/360_F_566772286_CqC41WX4mXx4mYVWlwwtTl23uUBrpbXw.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

marquee{
    font-size: 25px;
    font-weight: bold;
    animation: marquee 10s linear infinite;
    text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff, 0 0 15px #ff00ff;
  }

nav {
  background-color: rgba(0, 0, 0, 0.6); 
  padding: 20px;
  text-align: center;
}

section{
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff4500;
}


@media (max-width: 600px) {
  nav a {
    display: block;
    margin: 10px 0;
  }
}


footer {
  background-color: rgba(0, 0, 0, 0.6); 
  padding: 20px;
  text-align: center;
}